<a href="https://colab.research.google.com/github/SeungukJeong/ML4AI/blob/main/Week2/W2L2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## TASK 01: Create DataFrame

In [9]:
import pandas as pd
import numpy as np

In [13]:
team_3 = pd.DataFrame(
    {'name': ['Lee, Jiwon', 'Ahn, Hyungjoo', 'Jung, Seunguk'],
     'year_univ' : ['Senior', 'Senior', 'Senior'],
     'age' : ['24' , '25', '24'], 
     'hobby' : ['travel', 'hiking', 'violin'],
     'nationality' : ['Korea', 'Korea', 'Korea'], 
     'major' : ['Mathematics', 'Statistics', 'Statistics'],
     'double major' : ['Financial Engineering', '', '']
    }
)

In [14]:
team_3

,name,year_univ,age,hobby,nationality,major,double major
0,"Lee, Jiwon",Senior,24,travel,Korea,Mathematics,Financial Engineering
1,"Ahn, Hyungjoo",Senior,25,hiking,Korea,Statistics,
2,"Jung, Seunguk",Senior,24,violin,Korea,Statistics,

In [21]:
team_3.index = team_3.name 
team_3

,name,year_univ,age,hobby,nationality,major,double major
name,,,,,,,
"Lee, Jiwon","Lee, Jiwon",Senior,24,travel,Korea,Mathematics,Financial Engineering
"Ahn, Hyungjoo","Ahn, Hyungjoo",Senior,25,hiking,Korea,Statistics,
"Jung, Seunguk","Jung, Seunguk",Senior,24,violin,Korea,Statistics,

In [22]:
team_3.drop(['name'], axis = 1, inplace = True)
team_3

,year_univ,age,hobby,nationality,major,double major
name,,,,,,
"Lee, Jiwon",Senior,24,travel,Korea,Mathematics,Financial Engineering
"Ahn, Hyungjoo",Senior,25,hiking,Korea,Statistics,
"Jung, Seunguk",Senior,24,violin,Korea,Statistics,

In [ ]:
path = '/content/drive/MyDrive/University/ML4AI_22Fall/'

In [26]:
path = '/content/drive/MyDrive/University/ML4AI_22Fall/'
team_3.to_csv(path + 'team_3.csv')

## Task 3 Descriptive Statistics

In [30]:
team_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Lee, Jiwon to Jung, Seunguk
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year_univ     3 non-null      object
 1   age           3 non-null      object
 2   hobby         3 non-null      object
 3   nationality   3 non-null      object
 4   major         3 non-null      object
 5   double major  3 non-null      object
dtypes: object(6)
memory usage: 276.0+ bytes

In [34]:
team_3.age = team_3.age.astype(float)
team_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Lee, Jiwon to Jung, Seunguk
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year_univ     3 non-null      object
 1   age           3 non-null      float64
 2   hobby         3 non-null      object
 3   nationality   3 non-null      object
 4   major         3 non-null      object
 5   double major  3 non-null      object
dtypes: float64(1), object(5)
memory usage: 276.0+ bytes

In [27]:
team_3.count()

year_univ       3
age             3
hobby           3
nationality     3
major           3
double major    3
dtype: int64

In [28]:
team_3.nunique()

year_univ       1
age             2
hobby           3
nationality     1
major           2
double major    2
dtype: int64

In [29]:
team_3.sum()

year_univ                    SeniorSeniorSenior
age                                      242524
hobby                        travelhikingviolin
nationality                     KoreaKoreaKorea
major           MathematicsStatisticsStatistics
double major              Financial Engineering
dtype: object

In [35]:
team_3.age.std()

0.5773502691896258

## Task04